[2019-11-02 12:59] Hubertformin opened #1 "Unhandled promise rejection"
I noticed an issue with version 1.0.1. Printer prints successfully with an unhandled promise rejection instead. This issue would be fixed in v1.1.1

[2019-11-05 06:37] #1 closed

[2020-01-26 11:37] brkrtp opened #2 "TimedOut"
Hi i'm added windows printers to my printer and im use your example code then console says TimedOut
Pos Printers is TCP/IP

[2020-02-02 05:19] iConrado commented on #2
Hi brkrtp, I had the same problem and I solved it by changing the timeOutPerline property.
Some devices are slower than others.
Example:
`options = {`
       `preview: false, // Preview in window or print`
        `width: '275px', //  width of content body`
        `margin: '0 0 30px 0', // margin of content body`
        `copies: 1, // Number of copies to print`
       `printerName: env.PRINTER,

[2020-02-02 05:42] Hubertformin commented on #2
Hi @brkrtp, I’ll suggest the same solution given by @iConrado. I hope it works for you.

[2020-02-07 02:23] #2 closed

[2020-06-03 08:30] princeIta opened #4 "using PosPrinter in renderer process throws error, cannot find module 'electron-pos-printer'"
I imported PosPrinter in the renderer process of an electron app just the way it is stated in the demo and it threw an error " Cannot find module 'electron-pos-printer'". The snippet below shows what i did:

`const PosPrinter = window.require("electron").remote.require("electron-pos-printer").PosPrinter;`

i installed 'electron-pos-printer' in the renderer process of my app using npm.
i am using r

[2020-06-03 14:47] Hubertformin commented on #4
Hello @princeIta, can have a detailed log of your error?

[2020-07-05 17:13] Hubertformin commented on #4
I'm closing this issue due to inactivity

[2020-07-05 17:13] Hubertformin commented on #4
I'm closing this issue due to inactivity

[2020-07-05 17:13] #4 closed

[2020-07-10 01:24] rafaelvaloto opened #5 "How could you print faster with the silent 'true "option?"
Hello when "silent" is set to "false", printing is fast, when "true" is printing is slow. How could you print faster with the silent 'true "option?

[2020-07-10 19:55] Hubertformin commented on #5
Hello @refaelvaloto,
What version of electron are you using?
Check this out https://stackoverflow.com/questions/57302311/silent-print-is-not-working-electron-js

[2020-07-11 02:17] rafaelvaloto commented on #5
I'm using v9.1.0, the silent option is working correctly, the problem that printing is slower when it is set to true

[2020-07-19 00:58] fssonca opened #7 "Need more documentation"
Thank so much  to the author. Help me a lot. But, in the began, this project didnt work for me . It's because the **nodeIntegration: true,**  in main.js. But, i have a project for your guys: https://github.com/fssonca/electron-printer . Clone and enjoy.

Oh, one more thing: _< meta >_ tags that come with the electron-quick-start. I disabled them because i got a lot of errors.

[2020-07-23 06:10] Hubertformin commented on #7
@fssonca Good job

[2020-07-28 13:25] rnleal opened #8 "How to set Table Cell text alignment?"
How to align the cell text to left or right? The code below does not yield to proper alignment even if I specified inside the `style`

[code]

[2020-07-29 00:08] rnleal commented on #8
Nevermind..I got it. Thank you for this package.

[code]

[2020-07-29 00:08] #8 closed

[2020-07-29 00:30] amaury-tobias opened #9 "Types on dist"
on `dist/models.d.ts`
tableHeader, tableBody and tableFooter are no optionals
so it fails if i dont set these options

[2020-07-29 13:07] rnleal opened #10 "Does not work with Electron Vue"
I get TimedOut even if applied the suggestion here
https://github.com/Hubertformin/electron-pos-printer/issues/2

Im using Electron Vue with https://nklayman.github.io/vue-cli-plugin-electron-builder/

See full gist here
https://gist.github.com/rnleal/3abce4ef3b762243b8097d2893970685

[2020-07-30 03:21] amaury-tobias commented on #10
I use with `vue-cli-plugin-electron-builder` you try adding this on your vue.config.js
[code]
Works for me.

[2020-07-30 04:08] Hubertformin commented on #9
I’m sorry for this
I’ll fix this as soon as possible.

[2020-07-30 21:36] Hubertformin commented on #9
@amaury-tobias
Issue fixed, update to v1.2.1.
Thanks for your patience!

[2020-07-30 21:36] #9 closed

[2020-07-30 21:38] #7 closed

[2020-07-30 21:52] Hubertformin commented on #10
Does the print job show up in the printing queue?
If yes, then it's probably a problem with a printer driver or the connection to the printer.

[2020-07-30 22:12] Hubertformin commented on #5
Hello @rafaelvaloto
I apologize for the delay. I've had the same issue with silent print in general with some electron versions. So at the point, I am thinking this is an issue that has to do with electron itself.
But I keep working on how to resolve this.

[2020-08-04 07:37] rnleal commented on #10
@amaury-tobias I did this but still get the `timedOut` error. Newb question: where to put the vue.config.js? is it on the root? or inside the /src directory?

[2020-08-04 07:38] rnleal commented on #10
@Hubertformin nothing shows up in the printing queue

[2020-08-05 16:39] amaury-tobias commented on #10
Put on root folder

[2020-08-06 02:19] rnleal commented on #10
This was resolved by upgrading Electron to ^9.0

[2020-08-06 02:19] #10 closed

[2020-08-06 06:35] rnleal opened #11 "Change Orientation"
Is there anyway to change orientation of the contents? I would like to print to a receipt paper but the contents are printed on a landscape orientation. Thanks!

[2020-08-12 10:18] Hubertformin commented on #11
Hello @rnleal ,
landscape orientation is not currently supported. Hopefully I'll see to that in the next version(s)

[2020-08-12 10:19] #5 closed

[2020-08-12 10:26] rnleal commented on #11
Great..looking forward to it. How about doing multi column layouts? Is that possible? Sorry if Im asking lots of questions here. Wanted to know before you close this ticket

[2020-08-12 10:40] Hubertformin commented on #11
Well, We'll see about that too

[2020-08-13 06:30] kovlento opened #12 "how can I control the paper length of the print?"
I want to print on a small sticker, how can I control the length of the print? I want to print one-fifth of the length of A4 paper

`        body {
            height: 100px;
            font-size: 12px;
            /*line-height: 24px;*/
        }`

I tried to modify the height of the body at `pos.html`, but it did not work

[2020-08-13 06:32] #11 closed

[2020-08-18 13:30] VijayAlpha opened #13 "The width property is not working (width of the paper)"

[2020-08-18 14:11] #13 closed

[2020-08-19 15:16] sidneip commented on #13
How to solve the problem with width ?

[2020-08-19 18:01] sidneip commented on #12
i sended one pull request with this options,

#14 please check here.

[2020-08-20 07:11] Hubertformin commented on #12
Check out @sidneip pull request #14

[2020-08-20 07:11] #12 closed

[2020-09-19 06:17] ShaxXxboz opened #15 "Npm version update"
Can you please update npm version to 1.2.2 so we can use pageSize property? Thanks!

[2020-09-24 21:59] ascanipek opened #16 "Printout Very Light"
The printouts are very light, the fonts appear clearer and darker in the printout from a different source. Is there a parameter we can set this?

[2020-09-29 22:08] red-fire55 opened #17 "TimeOut rejection"
it runs but in the preview shows blank page and returns error TimeOut

[2020-09-30 00:12] #17 closed

[2020-10-02 20:10] yalealves opened #18 "Cut paper after printing"
Do you have any method for cutting the paper after printing? Without me having to pull the paper

[2020-10-04 18:09] GODAsderel commented on #16
I don't know if this will help but you can modify the "font-weight": "500" or whatever value you want and the font-family aswell.

[2020-10-05 06:39] Hubertformin commented on #15
Hello @ShaxXxboz ,
I apologize for the late reply and inactivity. I have done the necessary changes!
Thanks

[2020-10-05 06:39] #15 closed

[2020-10-05 18:54] GODAsderel opened #19 "Add extra space at the end of the ticket"
![d1f43e20cfc122135e4117f90ecf044c](https://user-images.githubusercontent.com/32823221/95119753-c50ffb80-074c-11eb-9902-4bef85a22d6e.png)
I need to add a margin at the bottom so it has an extra white space. I tried putting extra empty rows, &nbsp; and other kind of tricks but I can't find a way...

[2020-10-05 19:25] Hubertformin commented on #19
Hello @GODAsderel ,
From your screenshot, I believe you're using a type `table`, did you try the table style?
example:
`
{
       type: 'table',
       // style the table
       style: 'margin-bottom: 184px',
    }`

[2020-10-05 19:47] GODAsderel commented on #19
Yes, I'm using the type table, and I'm using css: to add the styles, I don't know why it also adds like a margin-bottom for default.
![4e3e6953-93e9-4344-a79d-9ef3b42776ea](https://user-images.githubusercontent.com/32823221/95124778-399a6880-0754-11eb-9e77-51b5dddbe11b.jpg)
`css: {"width":"100%","font-weight": "500","font-family": "Arial", "border-spacing":"0","margin-bottom":"0px","margin-top":"0

[2020-10-05 20:29] GODAsderel commented on #19
`data.push({
      type: 'table',
      // style the table
      // style: 'margin-bottom: 1px !important',
      css: {"width":"100%","font-weight": "500","font-family": "Arial", "border-spacing":"0","margin-bottom":"0px","margin-top":"0px" },
      // list of the columns to be rendered in the table header
      // multi dimensional array depicting the rows and columns of the table body
      tab

[2020-10-05 21:23] Hubertformin commented on #19
Yes, you are right. I've fixed it, update to the latest version, you should have your problem solved!

[2020-10-05 21:54] GODAsderel commented on #19
It's still not working, I did a npm i electron-pos-printer@latest and it still isn't working.

[2020-10-08 11:38] GODAsderel commented on #19
Okey I fixed it, just delete `<div style="min-height:100px;">` from body-init.js and the case:'table'

[2020-10-10 15:42] Hubertformin commented on #19
Hello,
Sorry for my late reply
I’ll do the changes by the end of today

On Thu, 8 Oct 2020 at 12:38 Jordà <notifications@github.com> wrote:

[2020-10-11 21:01] #19 closed

[2020-10-30 09:39] princeofnubia opened #20 "The printer could not print "Preview" Windows 10"
It works fine on my windows 10 but when i deployed on a client system, I see The printer could not print "preview".

[2020-11-01 11:40] Hubertformin commented on #20
Hello @princeofnubia
Can I see your code snippet and the screenshot of the error console?

[2020-11-01 11:42] #16 closed

[2020-11-01 11:44] Hubertformin commented on #18
Hello @yalealves
I apologize for my extremely late reply,
Unfortunately, automated paper cuts are not yet supported.

[2020-11-01 11:44] #18 closed

[2020-11-01 19:23] princeofnubia commented on #20
It is working now. I had to set up the printer on the windows for a certain paper dimension and it started working. It was working on my local but when i used it client machine, it failed.
`    PosPrinter.print(arg.detail, arg.options)
        .then(() => {})
        .catch((error) => {
            throw error;
        });`

[2020-11-01 19:36] Hubertformin commented on #20
Great!
I’m glad you found a solution.

[2020-11-01 19:36] #20 closed

[2020-11-08 21:30] Ziyat opened #21 "Please add properties in PosPrintData"
Hi.
Could you please add a property to the PosPrintData object
`barcodeFormat?: string;`
`colspan?: number;`
`rowspan?: number;`

and add attribute body-init.js file line:68

[code]

thanks.

[2020-11-15 18:38] GODAsderel opened #22 "Cash drawer"
Hi, is there a way to pass null arguments so that the printer detects there is a new object to print so that the cash drawer opens but doesn't actually print? I tried to pass null arguments but the printer prints a small paper size. As always thanks!

[2020-11-15 19:03] rafaelvaloto commented on #22
@GODAsderel

I'm having this problem too, but my printer is printing a large paper, could you give me a sample code?

[2020-11-15 19:43] GODAsderel commented on #22
I'm using:

[code]
and then
[code]
in data I'm using let data = [] so it prints nothing, but it stills prints me a little piece of paper. Hope it helps you

[2020-11-18 01:38] yeyeyeyeonly opened #23 "TimeOut"
I print ten times like this
for(let i=0;i<10;i++){
        console.log(i);
        print();
}
The Printer successfully printed nine or ten receipt , but print callback shows error:TimeOut
PosPrinter.print(d, options)
      .then(() => {
        console.log("success");
      })
      .catch((error) => {
        console.log("error==="+error);
});

[2020-11-19 16:33] GODAsderel commented on #22
I need a way to send 27,112,0,25,255 cash drawer kick code

[2020-12-07 20:16] duffimc opened #24 "How to place a table at the top right of the page"
Hi, how to place a table at the top right of the page?

thank you for your time

[2020-12-09 13:18] msahu2595 opened #25 "Copies property not working."
const options = {
        preview: false, // Preview in window or print
        width: 318, //  width of content body
        margin: "0 0 0 0", // margin of content body
        copies: 2, // Number of copies to print
        printerName: "58mm-thermal-printer", // printerName: string, check with webContent.getPrinters()
        timeOutPerLine: 400,
        silent: true,
      };

set 'copies'  t

[2020-12-12 07:52] kovlento opened #27 "pageSize property not working."
pageSize property not working

[2020-12-16 06:29] jayan2019 opened #28 "App crash when printer prints successfully"
Printer prints successfully but the app is closing automatically. I couldn't get any error since its closing.

These are the options I am using!

[code]

<img width="335" alt="Screenshot 2020-12-16 at 11 56 16" src="https://user-images.githubusercontent.com/46986762/102313147-0d8e3580-3f96-11eb-85c9-67056c5b35d5.png">

[2020-12-16 08:20] jayan2019 commented on #28
The issue was resolved. I had a mismatching electron version. Thank you!

[2020-12-16 08:20] #28 closed

[2020-12-18 08:22] SagarDeoghare opened #29 "unable to print data using thermal printer"
Hi,
    Thanks for creating this package.
    I'm able to see print preview but unable to print data on printer.
    It just prints one blank line and stops.
    I'm not sure why its not printing data. Also, it's not showing any error on console.

    **webcontent.print** it self not working
    electron version: 9.4.0
    node version: 14.15.1

    I'm trying to print data on rendered process. Fo

[2020-12-18 08:47] Hubertformin commented on #21
Thank you!

[2020-12-19 08:54] mr-ristic commented on #4
This should be re-open the issue is happening when in production.

[2020-12-19 09:46] hsumyatthu opened #30 "Uncaught Error: electron-pos-printer: use remote.require("electron-pos-printer") in render process in typescript"
Want to use electron-pos-printer in render process
#### Import library
`import {
  PosPrinter,
  PosPrintData,
  PosPrintOptions,
} from 'electron-pos-printer';`

So, How to import library in typescript

[2020-12-19 12:52] jayan2019 commented on #22
@GODAsderel  is there any possibilities to kick cash drawer?

[2020-12-19 13:07] GODAsderel commented on #22
I still don't know :disappointed:

[2020-12-19 15:43] hsumyatthu commented on #30
Can use const
`const {
  PosPrinter,
  PosPrintData,
  PosPrintOptions,
} = require('electron').remote.require('electron-pos-printer');`

[2020-12-19 15:43] #30 closed

[2021-01-03 14:26] hsumyatthu opened #31 "Not print in production"
Print is work in development version but not work in production version.
Can check preview page
my electron version is
`"electron": "9.3.5",`
my electron-pos-printer version is
`"electron-pos-printer": "^1.2.4",`

[2021-01-21 14:41] didierpasuy opened #32 "Paper size"
How can you determine a variable paper size?

As for example that of a POS document

[2021-01-22 08:52] vishwasskm commented on #23
The same issue occurs for me. I get a "Timeout" error after printing successfully!

[2021-01-23 14:42] koarcoxw commented on #22
这个能发送打切纸和打开钱箱命令吗

[2021-02-02 10:37] almamlaka commented on #2
suggested by  @iConrado does not help for me only removing printerName works but cannot have more than one copie

[2021-02-02 16:46] pks891618 opened #34 "not working with zebra printer 420"
const options = {
    preview: true, // Preview in window or print
     width: '170px',          //  width of content body
    margin: "0 0 0 0", // margin of content body
    copies: parseInt(quantity), // Number of copies to print
    printerName: printerName, // printerName: string, check it at webContent.getPrinters()
    timeOutPerLine: 400,
    silent: true,
    pageSize: { height:76, width:

[2021-02-07 14:42] Silventino commented on #23
Same with me.

[2021-02-08 04:01] yuniit opened #35 "Add font family"
Hello,
How can I add font-family to print content  I've tried :
[code]

But after print I got default font family.
Please correct me if i am wrong. Thank

[2021-02-09 03:40] agussugiatno commented on #31
yes it's couse timeout when printing at then end send error, when it in developing got message :(node:16804) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 render-line-reply listeners added to [IpcMainImpl]. Use emitter.setMaxListeners() to increase limit .

[2021-02-11 13:28] Silventino commented on #23
Found the solution. You have to increase the timoutPerLine in the options:
[code]
If you are printing to PDF, the TimeOut error may continue a problem

[2021-02-24 12:43] ldavidsp opened #36 "Add option to give styles to the td of the tables"

[2021-02-25 09:28] rezastallone opened #37 "Error: Cannot find module 'electron-pos-printer' Require stack:"
This is how I access electron-pos-printer :
`import React, { useEffect, useState } from 'react'
import { ProductListProp } from '../kasir/ProductListView'
import path from 'path';
import { Button, RadioGroup, RenderIf } from 'react-rainbow-components';

interface RadioValue {
  value: string,
  label: string
}

export const CheckoutStruk: React.FC<any & ProductListProp> = (props: any) => {

  let

[2021-02-25 10:10] rezastallone commented on #37
Somehow i fixed the issue by importing the module in main process without using it
`
const {PosPrinter} = require("electron-pos-printer");
`

[2021-04-19 20:38] bilaltunio1 commented on #37
still stuck :/

[2021-04-22 10:47] vishwasskm commented on #36
`tableBody: [
      [
	      {
		      type: 'text',
		      value: 'Base Total:',
		      css: {
			      'text-align': 'right',
		      },
	      },
	      {
		      type: 'text',
		      value: `Rs. ${format_number(sale.base_total_mrp)}`,
		      css: {
			      'text-align': 'left',
		      },
	      },
      ],
]`

[2021-04-22 10:51] kalnado commented on #32
For me setting paper size  in micrometers worked, i.e. for 100m x 75mm labels I set:

[code]

[2021-04-22 11:47] dilanhag opened #40 "Printer Command to Kick Cashdrawer"
Is there a way to pass printer command to kick cash drawer?

[2021-04-24 20:06] xjuanc commented on #35
I'm wondering the same, have you found a way?

[2021-04-26 05:12] yuniit commented on #35
@xjuanc  I just add @font-face to my css and it worked.

[2021-04-30 13:00] dmitryshelomanov opened #42 "body-init error"
require is not defined

[2021-04-30 13:01] dmitryshelomanov commented on #42
we need to add  contextIsolation: false in webPreferences "electron": "^12.0.5",

[2021-05-01 06:27] jft-id opened #43 "Possibilty of print specific div element"
I would like to know if there is a way to print a specific html div element brought it by a getElementById and use the HTML directly with the css designed for the app.
I tried to use it as I say, but it prints the entire code as an array of characters.

This is part of the code I wrote it in the renderer.js file to try to bring the div content.

const posTicket = document.getElementById('printable

[2021-05-02 10:12] #31 closed

[2021-05-02 10:14] #35 closed

[2021-05-02 10:14] Hubertformin commented on #35
I am glad it worked for you!

[2021-05-02 10:14] #21 closed

[2021-05-04 22:19] #42 closed

[2021-05-11 17:49] Ahmed-dev-vpc opened #46 "Error: Cannot find module 'electron-pos-printer', vue-electron"
In my case I use Vue-electron, It works fine in case development mode
But this problem only appears in production mode...

![Capture](https://user-images.githubusercontent.com/58576140/117861681-fb3ccd00-b291-11eb-8dd2-b90c07e94957.PNG)

[2021-05-15 19:39] Drewdan commented on #46
Did you find a solution to this?

[2021-05-17 12:50] Ahmed-dev-vpc commented on #46
not yet :(

[2021-05-30 14:28] O-ID commented on #37
yes, same. i have same problem but i don't have solution :(

[2021-06-01 04:50] O-ID commented on #46
I try this and modify the code it's working, but the printer doesn't do anything. i try set print `preview: true` in options, it run but not showing of the content.
after I inspect the element an error appears:

![image](https://user-images.githubusercontent.com/45619816/120267109-7a3f8700-c2cd-11eb-897b-c5feedec1485.png)

and this my code.
[code]
And i try disable webSecurity in my `vue.config.js

[2021-06-08 08:07] haravich opened #47 "Unable to use PosPrint with Electron 12."
Unable to use PosPrint with Electron 12.
I have upgraded the demo with Electron 12 and it breaks.
Any suggestions to work with Electron 12. I am using Typescript and Angular 11.

I got Timeout in console.log on error catch

[2021-06-29 14:04] MohamedJakkariya commented on #47
Any solution for this?

[2021-06-30 06:40] haravich commented on #47
@MohamedJakkariya We need to edit pos-printer.ts and compile again (or) edit pos-printer.js in dist directly. Add
`
webPreferences: {
    nodeIntegration: true,
    contextIsolation: false,
}
`

[2021-07-16 03:47] MadhabaPatra opened #49 "Demo code not working in latest version: electron 13.1.6 and electron-pos-printer^1.2.4"
I am using electron 13.1.6 and electron-pos-printer^1.2.4.

It is not working in these version i tried with  [demo](https://github.com/fssonca/electron-printer) . I had changed nothing , only installed the dependencies with latest version instead of the old version which is mentioned in package.json !

But i degraded to those version , it is working fine !
And i make sure that node integration ena

[2021-07-18 20:25] MadhabaPatra commented on #35
can you please elaborate or send the exact code here , thank you

[2021-07-21 17:09] Ahmed-dev-vpc commented on #46
@robert52 @O-ID  @Drewdan  @sidneip
Hi guys
Are there other packages that do the same thing as an electron-post-printer?

[2021-07-21 17:33] Drewdan commented on #46
I created a custom implementation of my own to handle printing using an EPOS printer, it created headings, paragraphs and tables. I can pull this into a package and put some docs together is people are interested

[2021-07-22 01:37] Muntazir86 commented on #47
@haravich this is not working with nodeIntegration: true also in my main.js. any other solution?

[2021-07-22 09:00] Drewdan commented on #46
@Ahmed-dev-vpc https://www.npmjs.com/package/electron-epos-printer - created this package, it does not do as much as this one, but it builds for me. Feel free to open some issues if you want to see extra features in it.

[2021-07-25 05:48] aashishshrestha5532 opened #50 "Timeout Error"
# Description
[code]

As a user when i click on print button it shows `TimeOut` error.And when i inspected the error on preview window it shows
`const fs = require('fs'); ` <--- require is not defined.
`

[2021-07-27 03:20] #50 closed

[2021-08-10 02:34] inubayuaji commented on #42
I also had this problem. I solved this problem by adding `contextIsolation: false` in pos-printer.js file line 93.
[code]
Note: this is in the module file not in the main project file.

[2021-08-21 15:07] tsha123 commented on #37
did u mean install in `./build/app/package.json`

[2021-08-26 02:21] Louis-jk opened #52 "How do working in react & typescript environment?"
Thank you for creating this great module.
Please Help me.
How can I make this package work in react & typescript environment?

[2021-09-17 15:02] Hubertformin commented on #52
Hello @Louis-jk
Excuse my late replies. Can state exactly the issues you are facing?

[2021-10-02 17:18] kingkyle commented on #23
Increased the time. its just stuck not printing

[2021-11-02 21:56] aashhshah opened #55 "with electron 12 this module not working"
I tried with electron 9(it's working)but with electron 12 it not working.it shows timedOut error.I also increase timeOutPerLine.but it's not working

[2021-11-05 17:24] davimatos commented on #55
I have the same problem. Someone help?

[2021-11-05 17:32] davimatos commented on #47
It worked! Thanks

[2021-11-05 17:33] davimatos commented on #55
Here's a solution that worked for me: https://github.com/Hubertformin/electron-pos-printer/issues/47#issuecomment-871138049

[2021-11-06 15:33] MohamedJakkariya commented on #47
@haravich Thanks for your solution. I appreciated.

[2021-11-10 08:15] aashhshah commented on #55
still not working

[2021-11-11 21:27] tmblog opened #56 "Printing in a loop to automate"
Hi thank you for the module it works nicely. I am running into some issues whilst calling the print function in a loop, in essence, I change the value of `data.value` and call print. It happens so quick that it doesn't overwrite the variable and prints only the first one.
I suppose a timer would do the trick but if there was a native way to delay it maybe I am missing something?
Here's some code t

[2021-11-22 10:42] gakyoo commented on #23
Getting same error, and still TimingOut from main process

[2021-12-03 00:11] alejuanito opened #57 "Its possible print to network POS Printer?"
is it possible to specify only the ip of the printer and print it?
In the documentation I see that the name can be specified but I do not know if it is possible to do it by ip

[2021-12-13 07:59] MahmoudMm opened #58 "ReferenceError: require is not defined"
Hi, I am having a trouble where I can't print or preview the request

when printing it says "TimedOut" and when previewing the error in developer tools is
`Uncaught ReferenceError: require is not defined
    at body-init.js:5
`

my electron webPreferences is
`webPreferences: {
      nodeIntegration: true,
      contextIsolation: false,
      enableRemoteModule: true,
    },`

it seems the problem

[2021-12-27 18:56] davimatos commented on #37
I have the same problem. It only happens in production. Any solution? :(

[2021-12-28 12:59] davimatos commented on #46
I have the same problem. It only happens in production. Any solution? :(

[2021-12-28 13:02] Drewdan commented on #46
I believe it is an error with the node version, possibly reverting to an older version resolves it, but not ideal and this will probably upset some other package you are using. This is why I made my own package, though I have not utilized it in a while, so I am not sure how well it is working with the current version of node

[2021-12-29 11:24] davimatos commented on #46
Thanks for help. Is there documentation for this package you created, or does it work the same as this one?

[2021-12-29 11:25] davimatos commented on #46
Thanks for help. Do you have documentation for this package you created, or does it work the same as this one?

[2021-12-29 18:54] davimatos commented on #46
After exhausting days of searching and debugging, I found the solution to the problem!!

Apparently it's an import error from the "vue-cli-plugin-electron-builder" package. [See docs](https://nklayman.github.io/vue-cli-plugin-electron-builder/guide/guide.html#native-modules)

You just need to add the following configuration:

[code]

[2021-12-29 18:57] davimatos commented on #37
Possible solution #46

[2021-12-29 18:57] davimatos commented on #4
Possible solution #46

[2021-12-29 20:08] Ahmed-dev-vpc commented on #46
C After exhausting days of searching and debuggingV I found the solution to the problem!!
C
C Apparently it's an import error from the "vue-cli-plugin-electron-builder" packageC FSee docsD(https:LLnklaymanCgithubCioLvue-cli-plugin-electron-builderLguideLguideChtml#native-modules)
C
C You just need to add the following configuration:
C
C ```
C LL vueCconfigCjs
C moduleCexports = V
C   pluginOptions

[2021-12-29 20:12] Ahmed-dev-vpc commented on #46
@davimatos
Yeah, that's what happened to me too :)
After a very hard search, this was just the solution

// vue.config.js
module.exports = {
  pluginOptions: {
    electronBuilder: {
      ....
      externals: ['electron-pos-printer'],
      ...
    }
  }
}

[2021-12-29 20:13] #46 closed

[2021-12-30 07:11] buibr commented on #58
You have to add the  contextIsolation in BrowserWindow like:
[code]

[2022-01-04 12:46] sKY02644 commented on #23
im still getting timeout after increasing timeOutPerLine: 5000,  // THIS

[2022-01-04 16:32] sKY02644 opened #59 "TimedOut Error"
Working with  quasar a vuejs framework  PosPrinter retrurn TimedOut error

code in electron main
`ipcMain.handle('posPrint', (_event, {data, posoptions}) => {
  PosPrinter.print(JSON.parse(data), posoptions)
  .then(() => {})
  .catch(err => {
    console.log(err)
  })
});`

Code in preload
`
contextBridge.exposeInMainWorld('serivcePrinterPrint', {
      print_service: (data: { data: PosPrintData,

[2022-01-04 18:05] AnggaIPT opened #60 "Get TimedOut Error In Electron 13 and React"
Thank for developing this module, but i got time out error
 Can you help me to fix this problem ?

[2022-01-05 06:25] AnggaIPT commented on #59
I got same issue. how to fix it ?

[2022-01-05 09:16] sKY02644 commented on #59
i had to downgrade to electron

`"electron": "^9.1.0"`

and it works

im still keeping taps on when this fix will be done before i upgrade

[2022-01-05 09:37] sKY02644 commented on #59
I also had this problem. I solved this problem by adding contextIsolation: false in pos-printer.js file line 93.

`var mainWindow = new BrowserWindow({
    width: 210,
    height: 1200,
    show: !!options.preview,
    webPreferences: {
        nodeIntegration: true,
        contextIsolation: false // here
    }
});`

Note: this is in the module file not in the main project file.

[2022-01-05 09:37] #59 closed

[2022-01-06 10:25] sKY02644 commented on #32
contents are not fitting in the center how do i center the contents in the center

[2022-01-06 12:21] sKY02644 opened #61 "Page Size"
Please assist me center the contents

`const options = {
    preview: false, // Preview in window or print
    width: widthPage, //  width of content body
    margin: "0 0 0 0", // margin of content body
    copies: 1, // Number of copies to print
    printerName: printerName, // printerName: string, check it at webContent.getPrinters()
    timeOutPerLine: 400,
    silent: true,
    pageSize: { he

[2022-01-06 12:58] sKY02644 commented on #61
@Hubertformin Please assist

[2022-01-10 10:15] sKY02644 commented on #61
Had no response

[2022-01-10 10:21] Hubertformin commented on #61
Hello @sKY02644
Please forgive for my delay, I saw you issue and I am working on fixing it ASAP!!

[2022-01-10 21:29] sKY02644 commented on #61
Thank you for your response it will do me much good

because i had to fall back on a different package but once its fixed i will
move back to urs

thanks again

On Mon, Jan 10, 2022, 10:21 AM Hubert Formin ***@***.***>
wrote:

[2022-01-13 21:24] MahmoudMm commented on #58
as you can see my electron webPreferences is
` webPreferences: { nodeIntegration: true, contextIsolation: false, enableRemoteModule: true, },`
I set contextIsolation to false,

[2022-01-25 07:05] dievlone opened #62 "Print preview is blank"
I use vue and electron 13.0. And the printer preview is blank. I had passed the data into the posprinter.print() function. Can u please take a look? Thank u very much!
![image](https://user-images.githubusercontent.com/53396060/150927642-577da613-b010-4de9-9760-215acd802294.png)

[2022-02-08 02:57] felipemarques commented on #60
i have the same error

[2022-02-08 02:59] felipemarques commented on #23
same error here TimedOut

[2022-02-14 03:32] dievlone commented on #62
Downgrade the electron from 13 to 9 then it worked.

[2022-02-14 03:32] #62 closed

[2022-02-19 18:32] 15309294916 commented on #60
are you solve the problem?

[2022-02-20 07:12] 15309294916 commented on #60
when i use electron version 13,make this error,I use the verson 11 to instead it,slove the error,you can try it

[2022-02-23 21:38] Cardozo1w commented on #23
It was working well, and now I'm receiving the same error:/

[2022-03-05 17:07] engosamamohsen commented on #23
@sKY02644 @gakyoo @Cardozo1w @haotrg035 @Silventino
Do you find a solution for a timeout or used another package?

[2022-03-15 07:49] janafsal opened #65 "electron-pos-printer shows timedout err"
not updated the to context bridge isolation, could you please update with context bridge in preload with node integration false and context bridge isolation true

[2022-03-15 17:44] janafsal commented on #60
We need to edit pos-printer.ts and compile again (or) edit pos-printer.js in dist directly. Add webPreferences: { nodeIntegration: true, contextIsolation: false, } in line no.91 (new BrowserWindow)

[2022-03-15 17:45] janafsal commented on #58
[We need to edit pos-printer.ts and compile again (or) edit pos-printer.js in dist directly. Add webPreferences: { nodeIntegration: true, contextIsolation: false, }](https://github.com/Hubertformin/electron-pos-printer/issues/60#issuecomment-1068271541)

[2022-03-15 18:59] treeindark commented on #60
is there's an update ?

[2022-03-16 08:13] lodekib commented on #60
how exactly?

[2022-03-16 08:20] janafsal commented on #60
https://github.com/Hubertformin/electron-pos-printer/issues/60#issuecomment-1068271541

[2022-03-16 08:21] janafsal commented on #60
https://github.com/Hubertformin/electron-pos-printer/issues/60#issuecomment-1068271541

[2022-03-16 08:21] lodekib commented on #23
Can't get it even to work.!

[2022-03-22 03:07] viktorrm commented on #23
Another solution? or package? it doesn't work, the error persists.

[2022-03-22 03:32] Cardozo1w commented on #23
I can help you

[2022-03-22 22:48] viktorrm commented on #23
Thanks!, I have done everything that the documentation recommends, but i don't have a printer now, so i think  the library is looking for a printer and then doesn't find anything, just throws the error "timedOut". The problem propably is havent a printer?

[2022-03-22 22:56] viktorrm commented on #23
Thanks!, I have done everything that the documentation recommends, but i don't have a printer now, so i think the library is looking for a printer and then doesn't find anything, just throws the error "timedOut". The problem propably is havent a printer?

[2022-03-23 00:03] viktorrm commented on #23
ok, creo que hablas español, acabo de conectar una impresora pero sigue de igual manera el error timedOut. Tampoco me funciona el preview

![Screenshot from 2022-03-22 18-02-48](https://user-images.githubusercontent.com/50388649/159596283-5a0a0ea5-4c89-4424-b1f0-afecc9b3b957.png)

![Screenshot from 2022-03-22 17-57-19](https://user-images.githubusercontent.com/50388649/159596151-3f51f9ce-bacd-45cd

[2022-03-23 03:10] Cardozo1w commented on #23
Yo use silent false, pero si estoy usando una impresora térmica, mañana haré unas pruebas con otro tipo de impresora, en tiempo por línea utilice 5000, puedes mandarme un correo oscar1w2e@gmail.com y checamos tu detalle

[2022-03-23 03:31] viktorrm commented on #23
Muchas gracias, te envié un correo.

[2022-03-23 03:38] viktorrm commented on #23
Muchas gracias, te envié un correo.

[2022-03-25 20:41] Ayman-Nageeb opened #67 "How to use the cutter to cut the reciept"

[2022-04-19 05:15] enricoirawan opened #68 "Did not print the data on printer zebra zd510-hc"
I can trigger the printer use this library but the data didnt show on the paper, can you help me?

[2022-06-21 14:39] sKY02644 commented on #61
@Hubertformin

Hope all is well

Please how far with the fix

[2022-07-26 07:33] Louis-jk commented on #52
Hello @Hubertformin
Thanks for your reply.
Rather, I'm sorry I saw your reply so late.
I was using typescript and react at the time, and I solved it in a different way.
sorry for late reply. And thank you for contacting me.

[2022-07-29 08:20] BoxCode7 opened #72 "找不到 dist_electron/pos.html 文件"
我在主进程中进行调用，但是失败了，找不到pos.html文件

[2022-07-29 08:22] BoxCode7 commented on #72
我在包里有看到pos.html文件，但在自动生成的打dist文件里面没有pos.html文件，是否与我用的是JavaScript而不是typeScript有关？

[2022-08-10 13:55] davimatos commented on #61
Are you sure you are setting the paper size correctly? It seems to me that the defined width is larger than what is needed for your paper.

Have you tried decreasing the width? In my case, if I decrease the width, I don't need to center it, since the content will occupy all printable area.

[2022-08-17 05:03] maheshsamudra commented on #49
This is still there. I tried using the latest version of electron (20) and it doesn't work. [MadhabaPatra](https://github.com/MadhabaPatra) Found any solution for this?

[2022-08-17 18:26] alvarosacari opened #73 "Its possible print base64 images?"
I need to print a base64 image like this:

[code]

Its possible print base64 images?

[2022-09-06 07:45] sara-jegorova commented on #60
@Hubertformin @sidneip @jfamousket Please create a new release with the fix from https://github.com/Hubertformin/electron-pos-printer/pull/53

[2022-09-06 08:22] janafsal commented on #60
go to node modules in your project =>electron-pos-printer=>dist(folder) => need to edit pos-printer.ts and compile again (or) edit pos-printer.js directly.in line no.91 (new BrowserWindow) Add webPreferences: { nodeIntegration: true, contextIsolation: false, }

then it will work :-) happy printing

[2022-09-06 09:51] sara-jegorova commented on #60
@janafsal Sorry but changing node_modules files is not the way to go. It won't work if the project gets built via github actions or from other people's pc's (they would also have to manually make the change).

[2022-09-06 10:23] Hubertformin commented on #73
Hello @alvarosacari , this has been added to the update. Thank you for your suggestion

[2022-09-06 10:24] #73 closed

[2022-09-06 10:26] Hubertformin commented on #72
你好，
我为我迟到的回复道歉，我会尽快查看。 我正在努力使其与最新版本的电子兼容。
感谢您使用此软件包

[2022-09-06 10:44] janafsal commented on #72
@Hubertformin could you please publish the latest code to npm....

[2022-09-08 03:24] zawzawwin-dev commented on #60
It is working!!

[2022-09-27 08:59] janafsal commented on #68
did you tried preview=true, which shows the data as expected?... i believe this library can print regardless of printer

[2022-10-27 10:13] Hubertformin commented on #27
This has been fixed, Thank you for commenting

[2022-10-27 10:15] Hubertformin commented on #29
Hello, @Gruce & @SagarDeoghare are you still facing this issue?
I have updated the package to work with the recent version of electron

[2022-10-27 11:12] #32 closed

[2022-10-27 11:13] Hubertformin commented on #47
Hello, This has been fixed. This package now works with the latest version of electron

[2022-10-27 12:59] Hubertformin commented on #72
Hello @janafsal
I just did!

[2022-10-27 12:59] #72 closed

[2022-10-27 13:00] Hubertformin commented on #68
Hello @enricoirawan , are you still experiencing this issue?

[2022-10-27 13:01] Hubertformin commented on #61
Can you try again?

[2022-10-27 13:02] Hubertformin commented on #60
Hello @everyone
This issue has been fixed, it is not compatible with the latest version of electron

[2022-10-27 13:02] #60 closed

[2022-10-27 13:04] Hubertformin commented on #36
Hello
Can you look at the new update?

[2022-10-27 13:04] #36 closed

[2022-10-27 13:06] Hubertformin commented on #52
I am glad your found a solution @Louis-jk

[2022-10-27 13:06] #52 closed, assigned to nobody

[2022-10-27 13:07] Hubertformin commented on #56
I will advice you to use a loop to construct the data array, then when the loop is finished, you then print the data.

[2022-10-27 13:07] #56 closed

[2022-10-27 13:08] Hubertformin commented on #58
Hello @janafsal, @MahmoudMm and @buibr, Please excuse my late replies. You don't need to edit and recompile anymore, I have updated the package.
It is compatible with the latest version of electron

[2022-10-27 13:08] #58 closed

[2022-10-27 13:10] Hubertformin commented on #55
Hello @aashhshah, can you update to the latest version of the package and try again?

[2022-10-27 13:14] sKY02644 commented on #61
does it support 80mm paper now?

[2022-10-27 13:17] Hubertformin commented on #57
As of now, it is not possible to print over your network. Hopefully, in the future versions, I can make that happen

[2022-10-27 13:17] #57 closed

[2022-10-27 13:25] Hubertformin commented on #61
Yes, it does. You can modify the `pageSize.width` to `303`. That should work well.

[2022-10-27 13:26] Hubertformin commented on #58
You're welcome.

[2022-10-27 13:29] sKY02644 commented on #61
okay i will take note of this and use it

i was hacking my way using all sorts of packages

will give it a try end of this week or early next month thanks boss 👍👍👍

[2022-10-27 14:16] janafsal commented on #72
![image](https://user-images.githubusercontent.com/63154412/198306780-6441164f-6b11-4183-9a6d-afdea1ba9945.png)

after update it don't prints, please see the above screenshot of preview window, could you please check?...thanking you in advance

[2022-10-27 14:20] Hubertformin commented on #72
Can you share me the snippet of your code?

[2022-10-27 14:26] janafsal commented on #72
const { PosPrinter } = require("electron-pos-printer");
printerName="Microsoft Print to PDFline 361"
data = [
        {
          type: "text", // 'text' | 'barCode' | 'qrCode' | 'image' | 'table
          value: "||---",
          style: `text-align:left;`,
          css: { "font-size": "12px",'margin':'0' },
        },
        {
          type: "text", // 'text' | 'barCode' | 'qrCode' | 'image'

[2022-10-27 14:38] Hubertformin commented on #72
Some major updates were done to styling, the css property is no longer supported. Please use style. `style` takes an object.

Using your example, look at the code below
[code]

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/25336761/198318270-14439df4-9ffd-42cc-9a22-010c14f0ed4c.png">

[2022-10-27 15:27] janafsal commented on #72
thank you so much now its working....
so the style properties will be camel cased of css properties right?

[2022-10-27 15:34] Hubertformin commented on #72
@janafsal Yes, exactly. Just like writing styles in jsx

[2022-10-27 15:38] janafsal commented on #72
Noted with thanks…

[2022-10-28 05:41] BoxCode7 commented on #72
May I ask if it is compatible with Electron

[2022-10-28 06:19] Hubertformin commented on #72
@BoxCode7, This is compatible with the latest version of electron.

[2022-10-28 06:22] BoxCode7 commented on #72
Although I have changed to other schemes, I still appreciate it very much. I will definitely use it again when I have the chance!

[2022-10-28 06:29] #55 closed

[2022-10-28 06:31] Hubertformin commented on #61
Yes, set the `pageSize: {width: 303, height: 1200}` For example, that is approximate dimension of 80mm paper

[2022-10-28 06:32] #61 closed

[2022-10-28 06:33] #29 closed

[2022-10-28 06:42] Hubertformin commented on #24
Hello @duffimc, I apologize for my extremely late reply. Did you find a solution to your problem? If not, I will describe a solution below.
To place a table at the top of the page, simply make the table object the first value in your data array.

#### Example:
[code]

#### Results
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/25336761/198520593-57c84019-05fe-4980-8fd

[2022-10-28 06:42] #24 closed

[2022-10-28 06:49] Hubertformin commented on #23
Yes, if you don't have a printer installed, set `options.preview` to `true`

[2022-10-28 06:51] Hubertformin commented on #23
Hello Everyone!
Please update to the latest version of this package.

[2022-10-28 06:51] #23 closed

[2022-10-28 06:54] Hubertformin commented on #22
Hello @GODAsderel, Please forgive my extremely late reply. Are you still facing this issue?

[2022-10-28 06:55] Hubertformin commented on #22
Unfortunately not, it can't send cut paper events at the moment

[2022-10-28 06:55] #68 closed

[2022-10-28 06:58] sKY02644 commented on #61
thank you soo much

i will revert later💯

[2022-10-30 18:03] DiegoMendoza1 opened #78 "Styles don´t work propertly"
I Have tried to print with electron 19 and last version 1.3.2 and the styles don´t work propertly.
In the preview is seems be ok but when I print a  ticket there are no styles.
I've tried also with the demo changing the property css to styles with the original version of electron and the pos-printer package.

[code]

I send some images of the preview and the ticket printed
![photo1667152590](https

[2022-10-30 19:18] DiegoMendoza1 commented on #78
Sorry, i had a mistake. I have not configure the drivers of the printer

[2022-10-30 19:18] #78 closed

[2022-11-07 04:56] melhadidy572 opened #81 "Error: height and width properties must be minimum 352 microns."
Hi,
appreciate your support,
I'm using  electron-pos-printer 1.3.4 in vue/electron project,
when I trigger it it give me this error in the console.
-->Error: height and width properties must be minimum 352 microns.

[2022-11-07 06:23] Hubertformin commented on #81
Hello @melhadidy572
Can I see your code with a screenshot of the error stack?

[2022-11-07 07:20] noah2000 commented on #81
@Hubertformin
Electron[7144:113857] Warning: Expected min height of view: (<NSPopoverTouchBarItemButton: 0x7f9456a49a50>) to be less than or equal to 30 but got a height of 32.000000. This error will be logged once per view in violation.|

[2022-11-07 07:33] noah2000 commented on #81
[code]

node:  v14.18.3
electron: ^10.0.0"

`Error: height and width properties must be minimum 352 microns.
    at WebContents._.print (electron/js2c/browser_init.js:157:7237)
    at /Users/admin/Documents/project/**/electron-printer/node_modules/electron-pos-printer/dist/index.js:1:2307`

[2022-11-07 07:58] Hubertformin commented on #81
Okay, Thank you. I will look into that.

[2022-11-07 09:11] #81 closed

[2022-11-08 13:51] Xavier9896 opened #82 "A pageSize question"
亲爱的各位开发者，我这边虽然没有使用这个库，但是也用到了electron的打印，碰到了一个pageSize的问题，各位能帮我解答一下吗：
POS不固定长度打印如何设置pageSize呢？
例如超市里面购物小票，商品的数量是不确定的，所以每次打印的尺寸都是不固定的，我该如何传入对应的pageSize？
我在打印前print.html能够获取到打印元素的宽高（单位mm），参考了https://github.com/Hubertformin/electron-pos-printer/issues/81对width、height进行了换算（*1000）
但我打印的时候内容前会有非常长的空白，四处寻找都没找到解决方案，希望有知道的bro能回复一下，谢谢。

---

Dear developers, although I do not use this library, but I also use

[2022-11-23 14:48] budi7 opened #83 "Print Timeout on electron 6"
Hi,
i'm facing printing timeout error : [TimedOutError] Make sure your printer is connected.
Printer already connected (i can confirm that printer connection was not the problem, Printing to that printer can be done using this plugin demo app)

current environment:
Npm ver: 6.14.11
Node ver: 14.16.0
electron ver: 6.1.12
electron-pos-printer ver: 1.3.6

Tested on electron 7 and up, with no problem.